@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

@import "tailwindcss";

nav {
  font-family: "Space Grotesk", sans-serif;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

@keyframes slowZoom {
  from {
    transform: scale(1.05);
  }

  to {
    transform: scale(1.12);
  }
}